textarea {
    resize: none;
}

.clipboard {
	position: relative;
	display: block;
	float: right;
}

.btn-clipboard {
	position: absolute;
	top: .5rem;
	right: .5rem;
	z-index: 10;
	display: block;
	padding: .25rem .5rem;
	font-size: 75%;
	color: #fff;
	cursor: pointer;
	background-color: #027de7;
	border: 0;
	border-radius: .25rem;
}